{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}

{% block content %}
    <section class="about-hero">
        <div class="about-content">
            <div class="about-image">
                <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Arshnoor">
            </div>
            <div class="about-text">
                <h1> <i> Arshnoor </i></h1>
                <p>Passionate developer with a love for creating innovative solutions.</p>
                <p>Experienced in various programming languages and frameworks, always eager to learn more.</p>
                <p>In my free time, I enjoy exploring new technologies and working on personal projects.</p>
                <br>
                <a href="{{ url_for('main.resume') }}" class="button">Resume &#8594; </a>
            </div>

        </div>
    </section>
{% endblock %}