{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tech.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='exp.css') }}">
    

{% endblock %}

{% block content %}
<div class="two-column-container">
    <!-- Left -->
    <div class="left-column">
        
        <div class="about-text">
            <h1> Arshnoor </h1>
            <h6> 📍 Punjab, India</h6>
        </div>

        <div class="about-image-container">
            <div class="about-image">
                <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Arshnoor">
                <div class="about-image-info">
                    <p>
                        I build apps that turn everyday chaos into clean code.<br>
                        Be it Android Apps or Powerful Backend Systems!<br> <br>
                        I don't just learn tech - I turn it into tools.
                    </p>
                </div>
            </div>
        </div>
        
        

        <ul class="profile-links">
    <li class="link">
        <img src="{{ url_for('static', filename='tech-icons/email.svg') }}" alt="mail icon" class="link-icon">
        <a href="mailto:arshnoorb7@gmail.com">Email</a>
    </li>
    <li class="link">
        <img src="{{ url_for('static', filename='tech-icons/linkedin.svg') }}" alt="Linkedin icon" class="link-icon">
        <a href="https://linkedin.com/in/arshnxxr" target="_blank">LinkedIn</a>
    </li>
    <li class="link">
        <img src="{{ url_for('static', filename='tech-icons/github.svg') }}" alt="Github icon" class="link-icon">
        <a href="https://github.com/nxxr-07" target="_blank">GitHub</a>
    </li>
</ul>
    </div>
    <!-- Right -->
    <div class="right-column">
        <section>
            <h3>Tech Stack</h3>
            
            <div class="tech-stack-marquee">
            <!-- First row -->
            <div class="marquee-row">
                <div class="marquee-content">
                
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/kotlin.svg') }}" alt="Kotlin" />
                        <span>Kotlin</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/java.svg') }}" alt="Java" />
                        <span>Java</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/python.svg') }}" alt="Python" />
                        <span>Python</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/firebase.svg') }}" alt="Firebase" />
                        <span>Firebase</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/flask.svg') }}" alt="Flask" />
                        <span>Flask</span>
                    </div>
                    <!-- Duplicate for seamless loop -->
                     <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/api.svg') }}" alt="REST API" />
                        <span>REST APIs</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/kotlin.svg') }}" alt="Kotlin" />
                        <span>Kotlin</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/java.svg') }}" alt="Java" />
                        <span>Java</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/python.svg') }}" alt="Python" />
                        <span>Python</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/firebase.svg') }}" alt="Firebase" />
                        <span>Firebase</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/flask.svg') }}" alt="Flask" />
                        <span>Flask</span>
                    </div>
                </div>
            </div>
            <!-- Second row (reverse direction) -->
            <div class="marquee-row">
                <div class="marquee-content reverse">
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/spring-boot.svg') }}" alt="Sprin Boot" />
                        <span>Spring Boot</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/github.svg') }}" alt="Github" />
                        <span>GitHub</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/jetpack-compose.svg') }}" alt="Jetpack Compose" />
                        <span>Jetpack Compose</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/figma.svg') }}" alt="Figma" />
                        <span>Figma</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/material-design.svg') }}" alt="Material Design" />
                        <span>Material Design</span>
                    </div>

                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/spring-boot.svg') }}" alt="Sprin Boot" />
                        <span>Spring Boot</span>
                    </div>
                    <div class="tech-item">
                        <img src="{{ url_for('static', filename='tech-icons/github.svg') }}" alt="Github" />
                        <span>GitHub</span>
                    </div>
                    
                </div>
                
            </div>
        </section>

        <!-- Experience -->
        <section>
            <h3>Experience</h3>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                        <h4>Java Developer Intern</h4>
                        <span class="timeline-company">CodVeda Technologies Pvt. Ltd. <span class="timeline-date">2025</span></span>
                        <p>Practical Hands-On Serveral Java Projects</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                        <h4>Android Developer Intern</h4>
                        <span class="timeline-company">Novem Controls Pvt. Ltd. <span class="timeline-date">2024</span></span>
                        <p>Contributed to the Almanac Project - College Buddy App.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Projects -->
        <section>
            
            <h3>Projects</h3>

            <div class="project-row">
                <div class="project-image">
                    <img src="{{ url_for('static', filename='project/project3.png') }}" alt="ThirtyDaysOfInvesting Tips App">
                </div>
                <div class="project-details">
                    <div class="project-details-text">
                        <h4>Quiz-Master Web App</h4>
                        <p>A multi-user quiz platform for admins to manage quizzes and users to attempt them and track progress.</p>
                    </div>
                    <div class="project-details-btn">
                        <a href="https://github.com/nxxr-07/Quiz-Master" class="button">GitHub → </a>
                    </div>
                </div>
            </div>

            <div class="project-row">
                <div class="project-image">
                    <img src="{{ url_for('static', filename='project/project1.jpg') }}" alt="Spaces">
                </div>
                <div class="project-details">
                    <div class="project-details-text">
                    <h4>Spaces</h4>
                    <p>A creative approach to Study-Room Booking System - Using Kotlin and Jetpack compose</p>
                    </div>

                    <div class="project-details-btn">
                        <a href="https://github.com/nxxr-07/spaces" class="button">GitHub → </a>
                    </div>
                </div>
            </div>
            <div class="project-row reverse">
                <div class="project-image">
                    <img src="{{ url_for('static', filename='project/project2.jpg') }}" alt="BookShelf">
                </div>
                <div class="project-details">
                    <div class="project-details-text">
                        <h4>BookShelf</h4>
                        <p>A Book Library App built using Firebase, where authenticated users can upload/download PDFs.</p>
                    </div>
                    <div class="project-details-btn">
                        <a href="https://github.com/nxxr-07/boolshelf" class="button">GitHub → </a>
                    </div>
                </div>
            </div>
            
        </section>
    </div>
</div>


<!-- Tech Stack Modal -->
<div id="techStackModal" class="modal">
  <div class="modal-content">
    <h2>My Tech Stack</h2>
    
    <div class="modal-tech-grid">
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/kotlin.svg') }}" alt="Kotlin" />
        <span>Kotlin</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/java.svg') }}" alt="Java" />
        <span>Java</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/python.svg') }}" alt="Python" />
        <span>Python</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/firebase.svg') }}" alt="Firebase" />
        <span>Firebase</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/flask.svg') }}" alt="Flask" />
        <span>Flask</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/spring-boot.svg') }}" alt="Spring Boot" />
        <span>Spring Boot</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/mysql.svg') }}" alt="SQLite3" />
        <span>SQLite3</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/jetpack-compose.svg') }}" alt="Jetpack Compose" />
        <span>Jetpack Compose</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/figma.svg') }}" alt="Figma" />
        <span>Figma</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/github.svg') }}" alt="GitHub" />
        <span>GitHub</span>
      </div>
      
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/material-design.svg') }}" alt="Material Design" />
        <span>Material Design</span>
      </div>
      <div class="tech-item">
        <img src="{{ url_for('static', filename='tech-icons/api.svg') }}" alt="REST API" />
        <span>REST APIs</span>
      </div>
    </div>
  </div>
</div> 

<script>
document.querySelector('.tech-stack-marquee').addEventListener('click', function() {
    document.getElementById('techStackModal').style.display = 'flex';
});

window.onclick = function(event) {
    var modal = document.getElementById('techStackModal');
    if (event.target === modal) {
        modal.style.display = 'none';
    }
};
</script>
{% endblock %}
